<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>

    <body>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome do livro</th>
            <th scope="col">Autor</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="livro : ${livroList}">
            <th scope="row" th:text="${livro.id}"></th>
            <td th:text="${livro.nome}"></td>
            <td th:text="${livro.autor.nome}"></td>
            <td>
                <a th:href="@{
                /edit/{id}
                (id=${livro.id})
                }">
                    <i class='fas fa-edit'>
                    </i>
                </a>

                <a th:href="@{
                /delete/{id}
                (id=${livro.id})
                }">
                    <i class='fas fa-eraser'>
                    </i>
                </a>

            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/book/form/add}">
        <button class="btn btn-primary btn-lg">Cadastrar um livro</button>
    </a>



    </body>






</html>